*, *::before, *::after{
  box-sizing: border-box;
}

#photo-editor{
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    /* "tools" */
    "image"
    "filterbar"
    "slider";
  height: 100vh;
  width: 100vw;
}

/* .tools{
  grid-area:tools;
  background-color: purple;
} */

.edit-image{
  grid-area: image;
}

.filters{
  grid-area: filterbar;
  background-color: orange;
}

.slider{
  grid-area:slider;
  background-color:red;
}