*, *::before, *::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  /* background-color: purple; */
}

/*homepage*/

.output{
  display: flex;
  justify-content: center;
  align-items: center;
}

.error{
  color: red;
}

/* editor */
.active{
  color:orange !important;
}

#edit-image{
  height:600px;
  width:600px;
}