*, *::before, *::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  /* background-color: purple; */
}

.intro-header{
  font-family: pacifico;
  font-size: 5vw;
}

/*homepage*/


.output{
  display: flex;
  justify-content: center;
  align-items: center;
}

.error{
  color: red;
}

/* editor */
.active{
  color:orange !important;
}

#edit-image{
  max-height:600px;
  width:auto;
}